<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Default"
			 connectionString="Data Source=DESKTOP-2CKQPRP\SQLEXPRESS;Initial Catalog=LibraryManagementSystemDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>